{% extends 'base.html' %}
{% block content %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle my-2 mx-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select bike status
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('filter_bike_status',bike_status='Awaiting Approval') }}" >Awaiting Approval</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_status',bike_status='Awaiting Return Approval') }}">Awaiting Return Approval</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_status',bike_status='Currently Rented') }}">Currently Rented</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_status',bike_status='Available') }}">Available</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_status',bike_status='Unavailable') }}">Unavailable</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle my-2 mx-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select bike type
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('filter_bike_type',bike_type='BMX Bike') }}" >BMX</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_type',bike_type='Fitness Bike') }}">Fitness</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_type',bike_type='Road Bike') }}">Road</a>
    <a class="dropdown-item" href="{{ url_for('filter_bike_type',bike_type='Utility Bike') }}">Utility</a>
  </div>
</div>
<table class="table mx-3">
    <thead class="thead-dark">
    {% if bicycles %}
      <tr>
        <th scope="col">Bike No.</th>
        <th scope="col">Type of Bike</th>
        <th scope="col">Bike Status</th>
        <th scope="col">Building</th>
        <th scope="col">Action to be completed</th>
      </tr>
    </thead>
        {% for bicycle in bicycles %}
            <tbody>
              <tr>
                <th scope="row">{{ bicycle['bike_id'] }}</th>
                <td>{{ bicycle['bike_types'] }}</td>
                <td>{{ bicycle['bike_state'] }}</td>
                <td>{{ bicycle['building_name'] }}</td>
                <td>
                    {% if bicycle['bike_state'] == 'Awaiting Approval' %}
                      <a href="{{ url_for('approve_bike_rent',id=bicycle['bike_id'])}}"> <i class="bi bi-check-circle"></i> </a>
                    {% elif bicycle['bike_state'] == 'Awaiting Return Approval' %}
                      <a href="{{ url_for('approve_bike_return',id=bicycle['bike_id'])}}"><i class="bi bi-bicycle"></i></a>
                    {% endif %}
                </td>
              </tr>
            </tbody>
        {% endfor %}
  </table>
  {% else %}
      <div class="display-3">No Bicycle</div>
  {% endif %}
{% endblock %}